{
  "openapi": "3.0.3",
  "info": {
    "title": "Title",
    "description": "Title",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://customers.dominus/api/v1"
    }
  ],
  "paths": {
    "/people": {
      "get": {
        "description": "list people",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": "1d2600bf-3072-4f56-9d17-f91415712751",
                        "name": "Stephon Hauck",
                        "status": "ACTIVE",
                        "birthdate": "1997-02-18",
                        "addresses": [
                          {
                            "public_place": "Boehm Pass",
                            "address_type": "3",
                            "number": "0381",
                            "complement": "sunt",
                            "zipcode": "59722-4331",
                            "neighborhood": "Norwood Hills",
                            "city": "Beierbury",
                            "state": "Madilyn Moen"
                          },
                          {
                            "public_place": "Alva Ville",
                            "address_type": "2",
                            "number": "0228",
                            "complement": "laborum",
                            "zipcode": "84244-0580",
                            "neighborhood": "Frances Stiedemann",
                            "city": "New Alexie",
                            "state": "Dalton Sipes"
                          }
                        ],
                        "documents": [
                          {
                            "document": "599724048887",
                            "type": 3,
                            "emission_date": "1978-11-22",
                            "verified": false,
                            "verified_at": null
                          },
                          {
                            "document": "831615635068",
                            "type": 1,
                            "emission_date": "1989-06-30",
                            "verified": false,
                            "verified_at": null
                          }
                        ],
                        "metadata": [],
                        "created_at": "2022-01-27T01:11:36.000000Z",
                        "updated_at": "2022-01-27T01:11:36.000000Z"
                      },
                      {
                        "id": "230ed4cf-e0af-4b72-82f8-3ab9ee0552b3",
                        "name": "Prof. Laverna Bergnaum V",
                        "status": "ACTIVE",
                        "birthdate": "1995-07-26",
                        "addresses": [
                          {
                            "public_place": "Kunze Track",
                            "address_type": "3",
                            "number": "6671",
                            "complement": "distinctio",
                            "zipcode": "54007-6774",
                            "neighborhood": "Nathanial Schultz",
                            "city": "Conroyland",
                            "state": "Dr. Alexandro Schulist"
                          },
                          {
                            "public_place": "Ova Common",
                            "address_type": "5",
                            "number": "2783",
                            "complement": "quaerat",
                            "zipcode": "74318",
                            "neighborhood": "Prof. Destany Ankunding",
                            "city": "West Adrainburgh",
                            "state": "Mr. Josh Sauer"
                          }
                        ],
                        "documents": [
                          {
                            "document": "614663922079",
                            "type": 1,
                            "emission_date": "1989-10-25",
                            "verified": false,
                            "verified_at": null
                          },
                          {
                            "document": "744317550519",
                            "type": 2,
                            "emission_date": "1979-04-22",
                            "verified": false,
                            "verified_at": null
                          }
                        ],
                        "metadata": [],
                        "created_at": "2022-01-27T01:11:36.000000Z",
                        "updated_at": "2022-01-27T01:11:36.000000Z"
                      }
                    ],
                    "links": {
                      "first": "http://customers.dominus/api/v1/people?page=1",
                      "last": null,
                      "prev": null,
                      "next": null
                    },
                    "meta": {
                      "current_page": 1,
                      "from": 1,
                      "path": "http://customers.dominus/api/v1/people",
                      "per_page": 15,
                      "to": 10
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "parameters": [
        {
          "required": true,
          "name": "id",
          "in": "path"
        }
      ],
      "get": {
        "description": "list people",
        "responses": {
          "200": {

          }
        }
      }
    }
  }
}
